<div class="chart-container">
  <ul>
    <li class="legend">
      <span class="legend-item" *ngFor="let legendItem of chartData; let i = index"
      (click)="hideLegend(i)">
        <!--legend rectangle-->
        <span class="legend-rect"
        [style.background-color]="legendItem.backgroundColor"></span>
        <!--legend label-->
        <span  [ngClass]="legendItem.hidden ? 'hidden' : 'show'"
        [style.color]="legendItem.backgroundColor">{{legendItem.label}}</span>
      </span>
    </li>
  </ul>
  <div class="chart">
    <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="false"
            chartType="bar">
    </canvas>
  </div>
